/* .songList {
  cursor: pointer;
  transition: background-color 0.8s;
  margin-bottom: 10px;
}

.songList li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.songItem {
  margin: 6px;
}

.songNum {
  margin-left: 15px;
  color: gray;
}

.songContent {
  margin-left: 17px;
}

.songTitle {
  font-size: .9rem;
}

.artistName {
  color: gray;
  margin-top: 5px;
}

.songList:hover {
  background: #282828;
  transition: background-color 0.8s;
} */ 