.playlist-song-list-item {
  transition: background-color 0.8s;
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  padding: 7px;
  border-radius: 5px;
  text-align: start;
}

.playlist-song-list-item:first-child {
  margin-top: 10px;
}

.playlist-song-list-item:hover {
  background: #282828;
  transition: background-color 0.8s;
}

.playlist-song-list-item .albumCoverUrl {
  width: 40px;
  /* border: 1px solid blue; */
  border-radius: 5px;
}

.playlist-song-list-item .title-and-name {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.playlist-song-list-item .songTitle {
  font-size: .9rem;
  width: 250px;
  /* border: 1px solid red; */
}

.playlist-song-list-item .artistName {
  color: gray;
  margin-top: 6px;
  font-size: .8rem;
}

.playlist-song-list-item .playlist-song-album-title {
  margin-left: auto;
  margin-right: auto;
  color: gray;
  font-size: .8rem;
  width: 100px;
  /* text-align: left; */
}

.playlist-song-list-item .add-song {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 40px;
  padding: 5px 12px;
  font-weight: bold;
  margin-left: auto;
  cursor: pointer;
}