.playlistList {
  display: flex;
  flex-direction: column;
}

.playlistListItem {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 3%;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.playlistListItem:hover, .activePlaylistItem {
  background: #232323;
  transition: background-color 0.8s;
}

.playlistCover {
  width: 15%;
  margin-right: 10px;
}

.playlistName {
  font-size: 0.9rem;
  margin-bottom: 3px;
}

.playlistList .username {
  font-size: 0.8rem;
  color: gray
}