.playbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9vh;
  background-color: black;
  color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12%;
}

/* actionsAndProgressSlider */

.actionsAndProgressSliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 9px;
}

/* actions */

.actionsContainer {
  display: flex;
  justify-content: space-around;
}

.playAndPauseBtn {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.playAndPauseIcon {
  fill: black;
  width: 17px;
  height: 17px;
}

.previousBtn,
.nextBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 20px;
}

.previousIcon,
.nextIcon {
  fill: gray;
  width: 17px;
  height: 17px;
}

/* progressSlider */

.progressSliderContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.progressSlider {
  width: 70%;
  appearance: none;
  cursor: pointer;
}

.progressSlider::-webkit-slider-runnable-track {
  height: 2px;
  background: gray;
}

.progressSlider::-webkit-slider-runnable-track:hover {
  background: #1cd760;
}

.progressSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  margin-top: -5px;
}

.progressTime {
  font-size: .7rem;
  color: gray;
}

/* volumeSlider */

.volumeControlContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11%;
}

.volumeSlider {
  width: 50%;
  appearance: none;
  cursor: pointer;
  margin-top: 17px;
}

.volumeSlider::-webkit-slider-runnable-track {
  height: 3px;
  background: white;
}

.volumeSlider::-webkit-slider-runnable-track:hover {
  background: #1cd760;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  margin-top: -4.5%;
}

/* currentSongContainer */

.currentSongContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 11%;
}

.currentSongAlbumCover {
  height: auto;
  width: auto;
  max-height: 60px;
  min-width: 60px;
}

.currentSongDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.currentSongTitle {
  font-size: .9rem;
}

.currentSongArtistName {
  font-size: .6rem;
  color: gray
}
