.navbarContainer {
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  width: 77%;
  padding-top: 1vh;
}

.navbar {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 8px 8px 0 0;
  height: 7vh;
  width: 100%;
  background-color: #121212;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: 1.5%;
}

.navbar a {
  text-decoration: none;
  font-size: 1rem;
}

.navbarButton {
  border: none;
  padding: 12px 25px;
  border-radius: 20px;
  font-family: 'CircularSpotifyBold';
  cursor: pointer;
}

.navbarButton:hover {
  transform: scale(1.05);
}

#navbarSignupBtn {
  background-color: transparent;
  color: gray;
}

#navbarSignupBtn:hover {
  color: white;
}

#navbarLoginBtn {
  background-color: white;
  color: black;
}