body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#191919, black);
  font-family: 'CircularSpotifyBold', Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9vh;
  z-index: 1000;
  align-items: center;
}

.guestLoginBtn {
  color: #DE599C;
  background: transparent;
  border: none;
  white-space: nowrap;
  font-size: 1.5em;
  font-family: 'CircularSpotifyBook', Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin-right: 2vw;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  background: black;
  color: white;
  height: 77vh;
  border-radius: 10px;
}

.loginContainer h1 {
  font-size: 2.5rem;
}

.loginContainer hr {
  width: 70%;
  border: 1px solid #191919;
      margin: -10%;
      /* margin-bottom: 1%; */
}

form {
  display: flex;
  flex-direction: column;
}

.errors {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  background: red;
  font-size: 0.5rem;
  font-weight: 100;
  display: flex;
  border-color: red;
}

li {
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 0.75rem;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #4f4f4f;
  background-color: #121212;
  border-radius: 5px;
  color: white;
}

.loginBtn {
  padding: 10px;
  background-color: #1db954;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.signupLink {
  color: gray;
  font-family: 'CircularSpotifyBook', Arial, Helvetica, sans-serif;
  font-size: .75rem;
}

.signupLink a {
  color: white;
  margin-left: 1vh;
}