.albumShow {
  height: 100vh;
  margin-left: 23%;
  margin-top: 8vh;
  width: 77%;
  background: linear-gradient(#141414, black);
  color: white
}

.albumDetails img:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
} 

.albumDetails {
  margin-top: 20px;
}

.albumDetails h2 {
  font-size: 5em;
}

.albumDetails span {
  margin-right: 5px;
  font-size: 12px;
}



.songList {
  display: flex;
  flex-direction: column;
}