.sideMenu {
  position: fixed;
  left: 0;
  width: 23%;
  height: 100vh;
  background-color: black;
  color: gray;
  padding: .5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  top: 0
}

.menuList {
  padding: 0;
  margin: 20px 0;
}

.menuList li {
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.menuList li:hover {
  color: white
}