.sign-up-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.sign-up-modal {
    background: #303030;
    padding: 20px;
    border-radius: 8px;
    width: 50vw;
    height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}

.signUpModalImg {
    width: 40%;
    border-radius: 8px;
    margin-left: 4%;
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 50%;
    height: 50%;
    text-align: center;
}

.signUpModalTextDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modalContent h3 {
    font-size: 2rem;
    width: 100%;
}

.signupModalBtn {
    padding: 15px 27px;
    background-color: #1cd760;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.signupModalBtn:hover {
    transform: scale(1.05);
}

.signupModalSignupLink {
    text-decoration: none;
    color: black;
}

.signupModalLoginLink {
    color: #a7a7a7;
    font-family: 'CircularSpotifyBook', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.signupModalLoginLink a {
    color: white;
    margin-left: 0.5vh;
    text-decoration: none;
}

.signupModalLoginLink a:hover {
    text-decoration: underline;
}

.signupModalCloseBtn {
    background-color: transparent;
    color: gray;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.signupModalCloseBtn:hover {
    color: white;
}
