.sideMenu {
  position: fixed;
  left: 0;
  width: 23%;
  height: 100vh;
  background-color: black;
  color: gray;
  padding: .5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  top: 0
}

.menuList {
  margin: 12px;
  display: flex;
  flex-direction: column;
}

.menuList li {
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menuLink {
  text-decoration: none;
  color: gray;
  display: flex;
  align-items: center;
}

.sideMenu svg {
  fill: transparent;
  stroke: gray;
  stroke-width: 1.5;
  width: 25px;
  height: 25px;
  margin-right: 8px;
  vertical-align: middle;
}

.menuLink:hover,
.menuLink.activeLink {
  color: white;
}

.menuLink:hover svg,
.menuLink.activeLink svg {
  fill: white;
  stroke: transparent;
}
