@import './reset.css';

@font-face {
    font-family: 'CircularSpotifyBook';
    src: url('./static/Circular-Font/CircularSpotifyText-Book.otf')
        format('opentype');
}

@font-face {
    font-family: 'CircularSpotifyBold';
    src: url('./static/Circular-Font/CircularSpotifyText-Bold.otf')
        format('opentype');
}

html,
body {
    font-family: 'CircularSpotifyBook', Arial, Helvetica, sans-serif;
    background-color: black;
    box-sizing: border-box;
    user-select: none;
}

.bold {
    font-family: 'CircularSpotifyBold', Arial, Helvetica, sans-serif;
}