@import './reset.css';

@font-face {
  font-family: 'CircularSpotifyBlack';
  src: url('../public/Circular-Font/CircularSpotifyText-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CircularSpotifyBlack', sans-serif;
}