@import './reset.css';

@font-face {
  font-family: 'CircularSpotifyBook';
  /* src: url('../build/Circular-Font/CircularSpotifyText-Book.otf') format('opentype'); */
}

@font-face {
  font-family: 'CircularSpotifyBold';
  /* src: url('../build/Circular-Font/CircularSpotifyText-Bold.otf') format('opentype'); */
}

html, body {
  font-family: 'CircularSpotifyBook', Arial, Helvetica, sans-serif;
  background-color: black;
  height: 100vh;
  box-sizing: border-box;
}