.editPlaylistModal {
    background-color: #282828;
    color: white;
    padding: 20px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 15px;
    width: 375px;
}

.editPlaylistModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeEditPlaylistModal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    border: none;
    cursor: pointer;
}

.closeEditPlaylistModal:hover {
    background: #3e3d3d;
    transition: background-color 0.8s;
}

.closeEditPlaylistModal svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    fill: #c5c5c5;
}

.editPlaylistModal label {
    font-size: 0.7rem;
}

.editPlaylistModal input {
    background-color: hsla(0, 0%, 100%, 0.1);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.updatePlaylistName {
    background-color: white;
    color: black;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    font-family: 'CircularSpotifyBold';
    cursor: pointer;
    margin-left: auto;
}

.updatePlaylistName:hover {
    transform: scale(1.05);
}

.playlist-name-error {
    background-color: #e91529;
    height: 35px;
    width: 97%;
    color: white;
    font-size: 0.75rem;
    display: flex;
    padding: 0 5px;
    align-items: center;
    border-radius: 5px;
    gap: 5px;
    font-family: 'CircularSpotifyBook', Arial, Helvetica, sans-serif;
}

.playlist-name-error svg {
    fill: white;
    height: 20px;
}

.editPlaylistModalOverlay .warning {
    background-color: #2e77d0;
}
