.deletePlaylistModal {
    background-color: white;
    color: black;
    padding: 30px 22px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
    width: 375px;
}

.deletePlaylistModal h2 {
    font-size: 1.3rem;
}

.deletePlaylistWarning {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.deletePlaylistModalBtns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    cursor: pointer;
}

.deletePlaylistModalBtns button {
    margin: 0 10px;
    padding: 12px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'CircularSpotifyBold';
    border: none;
}

.deletePlaylistDeleteBtn {
    background-color: #1bd760;
    color: black;
}

.deletePlaylistCancelBtn {
    background-color: transparent;
    color: black;
}

.deletePlaylistCancelBtn:hover,
.deletePlaylistDeleteBtn:hover {
    transform: scale(1.05);
}
