.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #101010;
  color: #fff;
  padding: 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.NavBar li {
  margin-right: 40px;
}

.NavBar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.NavBar a:hover {
  color: #ccc;
}

.NavBar a.login {
  background-color: #fff;
  color: #000;
  padding: 8px 20px;
  border-radius: 20px;
}

.NavBar a.signup {
  background-color: #101010;
  color: #ccc;
  padding: 8px 20px;
  border-radius: 20px;
}