button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  /* White text color */
}

button:hover {
  color: #55cc77;
  /* Lighter green on hover */
}

.profile-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40px;
  /* Adjust the distance from the button */
  right: 0;
  background-color: #1DB954;
  /* Spotify Green */
  border: 1px solid #fff;
  /* White border */
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.profile-dropdown li {
  padding: 10px;
  border-bottom: 1px solid #fff;
  /* White border between items */
}

.profile-dropdown li:last-child {
  border-bottom: none;
  /* Remove border for the last item */
}

.profile-dropdown button {
  background: none;
  border: none;
  color: #fff;
  /* White text color */
  cursor: pointer;
}

.profile-dropdown button:hover {
  color: #55cc77;
  /* Lighter green on hover */
}