.profileBtn {
  position: relative;
  margin-right: 1.5%;
  margin-left: auto;
}

button {
  border: none;
  cursor: pointer;
}

button svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.profileBtn button {
  background-color: black;
  border-radius: 50%;
  padding: 8px;
}

.profileDropdown {
  list-style: none;
  padding: 0;
  position: absolute;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  right: 50%;
  transform: translateX(50%);
}

.profileDropdown button {
  padding: 8px 16px;
  color: white;
  white-space: nowrap;
  cursor: pointer;
}

